body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height:100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(155, 214, 195);
}


form {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: azure;
    padding: 3%;
    border-radius: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.598); 
}


h3{
    text-align: center;
}


h3 span{
    border-bottom: 2px solid black;
}


input, select {
    margin: 10px 0;
    padding: 2%;
    font-size: 16px;
}









